<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>login</title>
    <link rel="stylesheet" href="/static/bootstrap/css/bootstrap.css">
</head>
<body>
<h3>CRM系统登录</h3>
<div class="container">
    <div class="row">
        <div class="col-md-9">
            <form action="" method="post">
                {% csrf_token %}
                <p>用户名： <input class="form-control" type="text" name="user"></p>
                <p>密码：<input class="form-control" type="password" name="pwd"></p>
                <p><input class="btn btn-primary" type="submit"></p>
            </form>

        </div>
    </div>
</div>
</body>
</html>